.nav-elem span {
    font-size: 1.2rem;
    color: rgb(0, 88, 57);
    display: block;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding-inline: 1rem; 
}

.nav-elem-dropdown-1, 
.nav-elem-dropdown-2, 
.nav-elem-dropdown-3, 
.nav-elem-dropdown-4 {
    position: absolute;
    top: 3rem;
    padding-top: 0rem;
    margin: 0;
    width: auto;
    height: 0;
    overflow: hidden;
    transition: 0ms height, 0ms padding;
    z-index: 2;
}

.nav-elem-dropdown-1 ul,
.nav-elem-dropdown-2 ul,
.nav-elem-dropdown-3 ul,
.nav-elem-dropdown-4 ul
{
    background: rgb(0, 88, 57);
    list-style: none;
    margin-block: 1rem;
    padding-block: 1rem;
    padding-inline: 1rem;
    margin: 0;
    font-size: 1rem;
}

.nav-elem:hover .nav-elem-dropdown-1,
.nav-elem:hover .nav-elem-dropdown-2,
.nav-elem:hover .nav-elem-dropdown-3,
.nav-elem:hover .nav-elem-dropdown-4 {
    padding-top: 2rem;
    transition: 250ms height, 250ms padding;
}

.nav-elem:hover .nav-elem-dropdown-1 {
    height: 3rem;
}

.nav-elem:hover .nav-elem-dropdown-2 {
    height: 4.5rem;
}

.nav-elem:hover .nav-elem-dropdown-3 {
    height: 6rem;
}

.nav-elem:hover .nav-elem-dropdown-4 {
    height: 7.5rem;
}

.nav-elem-dropdown-1 a,
.nav-elem-dropdown-2 a, 
.nav-elem-dropdown-3 a,
.nav-elem-dropdown-4 a {
    white-space: nowrap;
    text-decoration: none;
    color: white;
    &:hover {
        color: rgb(250, 244, 225);
        text-shadow: 0px 0px 5px black;
    }
}