.selected-team-card,
.honorific-team-card {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.selected-team-card {
    background-color: rgb(255, 230, 155);
    border: 2px solid rgb(255, 209, 69);
}

.honorific-team-card {
    background-color: rgb(183, 167, 214);
    border: 2px solid rgb(125, 85, 206);
}

.selected-team-card p, .honorific-team-card p {
    text-align: left;
}