table {    
    margin-inline: auto;
    margin-block: 2rem;
    width: 90%;
}

thead {
    font-size: 1.5rem;
    text-decoration: underline;
}

table td {
    height: 1rem;
    text-align: center;
}

.marked-as-diverse {
    color: black;
    background-color: rgb(214, 225, 230);
    border: 2px solid rgb(139, 143, 145);
}
.marked-as-speakers {
    background-color: rgb(111, 173, 72);
    border: 2px solid rgb(58, 124, 18);
}
.marked-as-showcase {
    background-color: rgb(183, 167, 214);
    border: 2px solid rgb(125, 85, 206);
}
.marked-as-special-format-event {
    color: black;
    background-color: rgb(255, 230, 155);
    border: 2px solid rgb(255, 209, 69);
}
.marked-as-workshops {
    background-color: rgb(215, 165, 190);
    border: 2px solid rgb(211, 79, 145);
}

.schedule-legend > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.schedule-legend > div > div {
    width: 35px;
    height: 20px;
    border: 2px solid white;
}