---
import { Icon } from 'astro-icon/components';
import {
	TextCardSection,
	Container,
	Button,
	FormInput,
	FormSelect,
	FormTextarea,
} from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';

const seo = {
	title: 'Team page',
	description: 'List of team members',
};
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>Our Team</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
				veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
				velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
				occaecat cupidatat non proident, sunt in culpa qui officia deserunt
				mollit anim id est laborum.
			</p>
		</TextCardSection>
		<section class="team__section">
			<div class="team__title-container">
				<h2>Competition Team</h2>
			</div>
			<div class="team__members-container">
				<div class="team-member">
					<img src="/assets/images/default_user.png" alt="Member Name" class="team-member__image">
					<div class="team-member__info">
						<p class="team-member__name">Cyril Barthelet</p>
						<p class="team-member__role">Team Lead</p>
					</div>
				</div>
				<div class="team-member">
					<img src="/assets/images/default_user.png" alt="Member Name" class="team-member__image">
					<div class="team-member__info">
						<p class="team-member__name">Hadrien Legros</p>
						<p class="team-member__role">Team Lead</p>
					</div>
				</div>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.team__section {
		margin: var(--section-margin) auto;
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: start;
		gap: 2rem;
	}

	.team__title-container {
		grid-column: 1;
		text-align: left;
	}

	.team__title-container h2 {
		margin: 0;
	}

	.team__members-container {
		grid-column: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		width: 100%;
	}

	.team-member {
		display: flex;
		align-items: center;
		gap: 1rem;
		background-color: #f9f9f9;
		padding: 1rem;
		border-radius: 8px;
		width: 50%;
	}

	.team-member__image {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		object-fit: cover;
	}

	.team-member__info {
		display: flex;
		flex-direction: column;
		text-align: left;
	}

	.team-member__name {
		font-weight: bold;
	}

	.team-member__role {
		color: #555;
		font-size: 0.9rem;
	}

	@media (max-width: 768px) {
		.team__section {
			grid-template-columns: 1fr;
		}

		.team__title-container, .team__members-container {
			text-align: center;
		}
	}
</style>